body {
	background-color: #000;
}

.audio-player {
	color: #f66;
	width: 512px;
	font-size: 16px;
	font-weight: 700;
	font-family: Verdana;
}

.audio-player .row {
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

.audio-player .info {
	width: 430px;
	justify-content: space-between;
}

.audio-player .value {
	color: #39f;
}

.audio-player .range {
	width: 100%;
	margin: 30px;
}

.audio-player .button {
	color: #fff;
	background-color: #39f;
	width: 100px;
	height: 32px;
	margin: 10px;
}
