<div data-bind="foreach: indicators">
	<div class="row info" data-bind="css: css()">
		<span class="label" data-bind="text: text()"></span>
		<span class="value" data-bind="text: value()"></span>
	</div>
</div>
